<a href="https://colab.research.google.com/github/vignanbandi/padhai_data_science/blob/master/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Creating Series Object

##Questions:
1. What is pandas series object
   
   pandas series object is an one dimension array with indexes, the main   difference between numpy array and padas series is indexing.

In [ ]:
series_with_list = pd.Series([1,2,3])
series_with_tuple = pd.Series((2,3,4))
series_with_dict = pd.Series({'library': 'pandas', 'language': 'python', 'version':3.6})
series_with_str = pd.Series('pandas basics')

In [ ]:
print(series_with_list)
print(series_with_tuple)
print(series_with_dict)
print(series_with_str)

0    1
1    2
2    3
dtype: int64
0    2
1    3
2    4
dtype: int64
library     pandas
language    python
version        3.6
dtype: object
0    pandas basics
dtype: object

In [ ]:
# Series with indexing
series = pd.Series([10, 20, 30], index=(0,1,2))
series

0    10
1    20
2    30
dtype: int64

In [ ]:
# If you dont supply index values equal to input data length then u will get a value error
series = pd.Series([10, 20, 30], index=(0,1))

In [ ]:
series = pd.Series({'name': 'vignan', 'age': 30, 'company': 'cdk', 'trash': 'I dont want to see this key value pair'}, index=('name', 'age', 'company'))
series

pandas.core.series.Series

In [ ]:
int_series = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

# You can iterate over values like you do with normal iterator
for item in int_series:
    print(item)

# Lets try and iterate over dictionary just like any other iterator
dict_series = pd.Series({'name': 'vignan', 'age': 30, 'company': 'cdk', 'trash': 'I dont want to see this key value pair'}, index=('name', 'age', 'company'))
for item in dict_series:
    print(item)


print("Print all the indexes", dict_series.index)
print("Print all the values", dict_series.values)

# Accessing elements in the series
print("name is = ", dict_series['name'])
print("age is = ", dict_series.age)
print("Trying to access non existent element", dict_series.get('trash'))
print("First element of the list", int_series[0])
print("First 2 elements of the list", int_series[0:2])

# By default head prints first 5 elements of the series
print("first n elements of the series", int_series.head())

10
20
30
40
50
60
70
80
90
100
vignan
30
cdk
Print all the indexes Index(['name', 'age', 'company'], dtype='object')
Print all the values ['vignan' 30 'cdk']
name is =  vignan
age is =  30
Trying to access non existent element None
First element of the list 10
First 2 elements of the list 0    10
1    20
dtype: int64
first n elements of the series 0    10
1    20
2    30
3    40
4    50
dtype: int64

# loc and iloc
#### In the previous section we have accessed series elements using indexes we should avoid using [] to acess elements becuse sometimes you start the index with some random number of your choice and by practice u access the first element by 0 and it returns the error.

#### To avoid the confusion pandas series object has two function loc & iloc,
loc is used for accessing elements with explicit index that we have defined where as iloc used default implicit index.

In [ ]:
series = pd.Series([0, 1, 2, 3, 4, 5], index=(1, 2, 3, 4, 5, 6))

In [ ]:
print(series)

1    0
2    1
3    2
4    3
5    4
6    5
dtype: int64

In [ ]:
# loc uses explicit index

# To access first element 
print(series.loc[1])
print(series.iloc[0])

0
0

In [ ]:
# get elements from 0 - 8
series.loc[0:9]

1    0
2    1
3    2
4    3
5    4
6    5
dtype: int64

In [ ]:
# get elements from 0 to 4
series.iloc[0:5]

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [ ]:
dict_series = pd.Series({'name': 'vignan', 'age': 30, 'company': 'cdk'})

In [ ]:
print(dict_series.loc['name'])
print(dict_series.iloc[0])
# In doing slicing in loc upper limit is also included
print(dict_series.loc['name': 'company'])
print(dict_series.iloc[0:1])

vignan
vignan
name       vignan
age            30
company       cdk
dtype: object
name    vignan
dtype: object

# Operations

In [57]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146], 
                 index=['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [60]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [62]:
# You can do operations like filter all the planets whose mass is grater than 100
mass[mass > 100]

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [64]:
mass[(mass > 100) & (mass < 600)]

Saturn     568.0
Neptune    102.0
dtype: float64

In [66]:
mass + mass

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [67]:
mass * mass

Mercury    1.089000e-01
Venus      2.371690e+01
Earth      3.564090e+01
Mars       4.121640e-01
Jupiter    3.602404e+06
Saturn     3.226240e+05
Uranus     7.534240e+03
Neptune    1.040400e+04
Pluto      2.131600e-04
dtype: float64

In [68]:
mass - mass

Mercury    0.0
Venus      0.0
Earth      0.0
Mars       0.0
Jupiter    0.0
Saturn     0.0
Uranus     0.0
Neptune    0.0
Pluto      0.0
dtype: float64

In [70]:
big_mass = mass[mass > 100]

In [71]:
big_mass

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [76]:
result = mass + big_mass
print(result)

Earth         NaN
Jupiter    3796.0
Mars          NaN
Mercury       NaN
Neptune     204.0
Pluto         NaN
Saturn     1136.0
Uranus        NaN
Venus         NaN
dtype: float64

In [77]:
result.isnull()

Earth       True
Jupiter    False
Mars        True
Mercury     True
Neptune    False
Pluto       True
Saturn     False
Uranus      True
Venus       True
dtype: bool

In [ ]:
mass